SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAILS=valenzunino2023@gmail.com
PUBLIC_SITE_URL=https://vz-automotores.vercel.app
NOTIFICATION_EMAIL=
RESEND_API_KEY=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_META_PIXEL_ID=
